<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Đặt hàng thành công</title>
    <link rel="stylesheet" th:href="@{/css/success.css}"/>
</head>

<body>
<div layout:fragment="content">
    <section class="success-container">
        <h2 class="success-title">Đặt hàng thành công!</h2>
        <p class="success-message">Đơn hàng của bạn đã được xác nhận và sẽ được xử lý trong thời gian sớm nhất.</p>
        <p><a th:href="@{/}" class="btn-back-home">Trở về trang chủ</a></p>
    </section>
</div>
</body>
</html>
